/* .ant {
} */

.ant-up {
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid red;
}

.ant-down {
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  
  border-top: 10px solid red;
}

.ant-right {
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 10px solid red;
}

.ant-left {
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent; 
  border-right:10px solid red; 
}